<mat-toolbar>
  <button mat-button routerLink="/" class="logo">Recipe Book</button>

  <div *ngIf="isAuthenticated">
    <button mat-button routerLink="/recipes">Recipes</button>
    <button mat-button routerLink="/shopping-list">Shopping List</button>
  </div>

  <span class="spacer"></span>

  <button
    mat-button
    routerLink="/authenticate"
    *ngIf="!isAuthenticated"
  >Authenticate</button>
  <button
    mat-button
    routerLink="/authenticate"
    *ngIf="isAuthenticated"
    (click)="onLogout()"
  >Logout</button>
</mat-toolbar>
