.edit-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.filed-full-width {
  width: 100%;
}

.edit-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  button {
    width: 45%;
    min-height: 50px;
  }
}

.mdc-button {
  background: #802BB1;
  color: #D1D7E0;
}

.mat-mdc-raised-button:disabled {
  background: rgba(128, 43, 177, 0.25);
}

.field-btn {
  display: flex;
  justify-content: space-between;

  button {
    min-height: 56px;
  }
}

.control-ingredients {
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 3px solid #D1D7E0;
}

.close-ing-btn {
  background: #D2042D;
}

@media screen and (max-width: 409px){
  .close-ing-btn {
    width: 100%!important;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 495px) and (max-width: 624px) {
  .close-ing-btn {
    width: 100%!important;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 409px) and (max-width: 496px){
  .btn-ing-name {
    width: 100%!important;
  }
}

@media screen and (max-width: 408px) {
  .btn-media-control {
    width: 100%!important;
  }

  .amount-media {
    min-width: 105px!important;
  }
}
