.auth-form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}

.filed-full-width {
  width: 100%;
}

.mdc-button {
  background: #802BB1;
  color: #D1D7E0;
}

.mat-mdc-raised-button:disabled {
  background: rgba(128, 43, 177, 0.25);
}

.auth-btn {
  display: flex;
  justify-content: space-between;

  button {
    width: 45%;
    min-height: 50px;
  }
}
