<ng-template appPlaceholder></ng-template>

<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

<form #authForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading" class="auth-form">
  <mat-form-field class="filed-full-width">
    <mat-label>Email:</mat-label>
    <input
      matInput
      type="email"
      name="email"
      placeholder="Example: email@test.com"
      ngModel
      required
      email>
  </mat-form-field>

  <mat-form-field class="filed-full-width">
    <mat-label>Password:</mat-label>
    <input
      matInput
      class="filed-full-width"
      type="password"
      name="password"
      placeholder="********"
      ngModel
      required
      minlength="8">
  </mat-form-field>

  <div class="auth-btn">
    <button
      mat-raised-button
      type="submit"
      [disabled]="!authForm.valid"
    >
      {{ isLoginMode ? 'Login' : 'Sign Up' }}
    </button>

    <button
      mat-raised-button
      (click)="onSwitchMode()"
      type="button"
    >
      Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
    </button>
  </div>
</form>
