<mat-card style="min-width: 80%">
  <mat-card-header>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>Recipe</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.imagePath" style="max-width: 100%;">
  <mat-card-content style="padding-top: 10px">
    {{ recipe.description }}
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        *ngFor="let ingredients of recipe.ingredients"
      >
        {{ ingredients.name }} <strong>|</strong> {{ ingredients.amount }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-raised-button [matMenuTriggerFor]="menu">Manage Recipe</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onAddToShoppingList()">Add To Shopping List</button>
    <button mat-menu-item (click)="onEditRecipe()">Edit Recipe</button>
    <button mat-menu-item (click)="onDeleteRecipe()">Delete Recipe</button>
  </mat-menu>
</mat-card>
